nav {
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  box-shadow: 0 2px 2px rgb(0, 101, 126);
  z-index: 9999;
  border-bottom: rgb(0, 101, 126);
}

.logo {
  height: 50px;
  width: auto;
  margin: 10px;
  background: black;
}

.nav-link-left {
  float: right;
  margin-right: 3%;
}

.nav-link-right {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  text-transform: uppercase;
  color: rgba(236, 236, 236, 0.7);
  &:hover,
  &:active {
    padding: 1px 0;
    color: white;
    word-spacing: 0;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
    border-bottom: 2px solid rgb(0, 101, 126);
    text-align: center;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .nav-link-left {
    display: block;
  }
}
