<nav class="web-site-header">
  <a [routerLink]="['/']" class="nav-link-left">
    <img src="../../../../assets/images/celera-logo.png" class="logo" alt="Celera-Chemie" />
  </a>
  <div class="navigation-buttons">
    <a [routerLink]="['/products']" *ngIf="isAuthenticated" class="nav-link-right">
      {{ 'nav.products' | translate }}
    </a>
    <a [routerLink]="['/user/profile']" *ngIf="isAuthenticated && !isAdmin" class="nav-link-right">
      {{ 'nav.profile' | translate }}
    </a>
    <a [routerLink]="['/contacts']" class="nav-link-right">
      {{ 'nav.contacts' | translate }}
    </a>
    <a [routerLink]="['/about']" class="nav-link-right">
      {{ 'nav.about' | translate }}
    </a>
    <a [routerLink]="['/certificates']" class="nav-link-right">
      {{ 'nav.certificates' | translate }}
    </a>
    <a [routerLink]="['/product/create']" *ngIf="isAdmin" class="nav-link-right">
      {{ 'nav.newProduct' | translate }}
    </a>
    <a [routerLink]="['/users/all']" *ngIf="isAdmin" class="nav-link-right">
      {{ 'nav.allUsers' | translate }}
    </a>
    <a [routerLink]="['/login']" *ngIf="!isAuthenticated" class="nav-link-right">
      {{ 'nav.login' | translate }}
    </a>
    <a [routerLink]="['/register']" *ngIf="!isAuthenticated" class="nav-link-right">
      {{ 'nav.register' | translate }}
    </a>
    <a href="/" class="nav-link-right" *ngIf="isAuthenticated" (click)="logout()">
      {{ 'nav.logout' | translate }}
    </a>
  </div>
</nav>
