<nav class="web-site-header">
  <a routerLink="/" class="nav-link-left">
    <img
      src="../../../../assets/images/celera-logo.png"
      class="logo"
      alt="Celera-Chemie"
    />
  </a>
  <div class="navigation-buttons">
    <a routerLink="/products" class="nav-link-right">
      Products
    </a>
    <a routerLink="/user/profile/:userId" class="nav-link-right">
      Profile
    </a>
    <a routerLink="/contacts" class="nav-link-right">
      Contacts
    </a>
    <a routerLink="/about" class="nav-link-right">
      About us
    </a>
    <a routerLink="/certificates" class="nav-link-right">
      Certificates
    </a>
    <a routerLink="/product/create" class="nav-link-right">
      New Product
    </a>
    <a routerLink="/users" class="nav-link-right">
      All Users
    </a>
    <a routerLink="/login" class="nav-link-right">
      Login
    </a>
    <a routerLink="/register" class="nav-link-right">
      Register
    </a>
    <a href="/" class="nav-link-right">
      Logout
    </a>
  </div>
</nav>
