<section class="form" style="background-image: url({{imgSrc}});">
  <h1>Login</h1>
  <form [formGroup]="form" *ngIf="form">
    <div class="form-group">
      <label class="form-control-label" for="email">
        E-mail
      </label>
      <input type="email" formControlName="email" id="emailLogin" placeholder="Enter your e-mail" />
      <div *ngIf="invalidNameMessage" class="error">{{ invalidNameMessage }}</div>
    </div>
    <div class="form-group">
      <label class="form-control-label" for="password">
        Password
      </label>
      <input type="password" formControlName="password" id="passwordLogin" placeholder="Enter a password" />
      <div *ngIf="invalidPasswordMsg" class="error">{{ invalidPasswordMsg }}</div>
    </div>
    <div class="form-group">
      <button type="submit" (click)="loginUser()">Login</button>
    </div>
  </form>
</section>
