<section class="lang">
  <input
    type="image"
    src="http://flags.fmcdn.net/data/flags/w580/gb.png"
    alt="English"
    id="en"
    (click)="changeLanguage('en')"
  />
  <input
    type="image"
    src="http://flags.fmcdn.net/data/flags/w580/bg.png"
    alt="Bulgarian"
    id="bg"
    (click)="changeLanguage('bg')"
  />
  <input
    type="image"
    src="http://flags.fmcdn.net/data/flags/w580/cy.png"
    alt="Greek"
    id="gr"
    (click)="changeLanguage('gr')"
  />
  <input
    type="image"
    src="http://flags.fmcdn.net/data/flags/w580/ro.png"
    alt="Romanian"
    id="ro"
    (click)="changeLanguage('ro')"
  />
</section>
