.commercial-text-box {
  background-color: black;
  text-transform: uppercase;
  z-index: 9999;
  h6 {
    margin-left: 1.5rem;
    color: rgba(194, 194, 194, 0.616);
    line-height: 1.6;
    word-spacing: 0.2rem;
    text-align: left;
    font-size: 1rem;
    padding-left: 1rem;
  }
}

.banner-image {
  width: 100vw;
  height: 55vh;
  overflow: hidden;
  img {
    width: 100vw;
    height: 55vh;
    position: center;
  }
}
