.users-section {
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  color: rgba(236, 236, 236, 0.7);
  background: black;
  h6 {
    color: rgba(236, 236, 236, 0.7);
    text-transform: uppercase; 
  }
}

.single-user {
  margin-top: 1rem;
  div {
    overflow: hidden;
    font-size: 1rem;
  }
  span {
    color: rgb(0, 101, 126);
    font-size: 1rem;
  }
}

.button-user {
  min-width: 15rem;
  height: 2.5rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.623);
  background-color: rgba(0, 101, 126, 0.8);
  word-spacing: 5px;
  border-radius: 1.5em;
  font-size: 0.9rem;
  margin: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 101, 126);
    color: white;
    text-transform: bold;
  }
}
